@import './mixins.scss';
main{
    width: 100%;
    height: 50rem;
    @include respond(large){
        height: 75rem;
    }
}


.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.main__image{
    width: 100%;
    padding: 1rem;
    background: url('./src/lake.jpg');
    display: flex;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    @include respond(medium){
        margin: 1rem;
        background-size: 100% auto;
        background-origin: padding-box;
        // background-position: center;
    }
    @include respond(large){
        margin: 2rem;
        background-image: url('./src/water.jpg');
    }

    border-radius: 15px;
    &__span{
        font-size: 2rem;
        color: white;
        letter-spacing: 4px;
    }

    &__span{
        
        @include respond(large){
            font-size: 6rem;
            background-color: rgba(0, 0, 0, 0.637) ;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            letter-spacing: 1rem;

            & > em{
                font-weight: 700;
                font-size: 6.5rem;
            }
        }
        
        &-arrow{

        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        bottom: 10%;
        animation: arrow 1s ease infinite alternate-reverse;
        & img{
            margin-top: 20%;
        }
        }
    }

}

@keyframes arrow {
    to{
        transform: translateY(10px);
    }

}