@mixin respond($size){
    @if $size == medium {
        @media screen and (min-width:31.25em){
            @content
        };
    }
    @if $size == large {
        @media screen and (min-width:56.25em){
            @content
        };
    }
}

@mixin tag {
    background-color: rgba(255, 255, 255, 0.75);
            color: $blue-dark;
            position: absolute;
            top: 0px;
            left: 0px;
            clip-path: polygon(0 0, 0% 100%, 100% 0);;
            width: 15rem;
            height: 15rem;
            text-align: start;
            font-size: 2.5rem;
            padding: 0.5rem;
}